<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.wsyu.mapper.ScheduleMapper">

    <resultMap id="BaseResultMap" type="edu.wsyu.entity.dto.Schedule">
            <id property="scdid" column="scdid" jdbcType="BIGINT"/>
            <result property="cid" column="cid" jdbcType="BIGINT"/>
            <result property="tid" column="tid" jdbcType="BIGINT"/>
            <result property="crid" column="crid" jdbcType="BIGINT"/>
            <result property="dayOfWeek" column="day_of_week" jdbcType="TINYINT"/>
            <result property="startTime" column="start_time" jdbcType="TIME"/>
            <result property="endTime" column="end_time" jdbcType="TIME"/>
            <result property="classroom" column="classroom" jdbcType="VARCHAR"/>
            <result property="createAt" column="create_at" jdbcType="TIMESTAMP"/>
            <result property="updateAt" column="update_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        scdid,cid,tid,
        crid,day_of_week,start_time,
        end_time,classroom,create_at,
        update_at
    </sql>
</mapper>
