<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.wsyu.mapper.UsersMapper">

    <resultMap id="RoleResultMap" type="Role">
        <id property="rid" column="rid" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="BaseResultMap" type="edu.wsyu.entity.dto.Users">
        <id property="uid" column="uid" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="idCard" column="id_card" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="descText" column="desc_text" jdbcType="VARCHAR"/>
        <result property="locked" column="locked" jdbcType="TINYINT" javaType="Boolean"/>
        <result property="enable" column="enable" jdbcType="TINYINT" javaType="Boolean"/>
        <result property="createAt" column="create_at" jdbcType="TIMESTAMP"/>
        <result property="updateAt" column="update_at" jdbcType="TIMESTAMP"/>
        <collection property="rolesList" column="uid" ofType="Role" select="selectRolesByUID">
            <id property="rid" column="rid" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>


    <select id="findUserByUID" parameterType="long" resultMap="BaseResultMap">
        SELECT *
        FROM users
        WHERE uid = #{uid}
    </select>

    <select id="selectRolesByUID" parameterType="long" resultMap="RoleResultMap">
        SELECT r.rid, r.name, r.description
        FROM role r
                 JOIN user_roles ur ON r.rid = ur.role_id
        WHERE ur.user_id = #{uid}
    </select>

    <sql id="Base_Column_List">
        uid,username,name,
        password,id_card,email,
        avatar,address,desc_text,
        locked,enable,create_at,
        update_at
    </sql>
</mapper>
